* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-padding-top: 20px;
}

/**
* --------------------
* utilitaires
* --------------------
*/
li {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

img {
    width: 80px;
}

/**
* --------------------
* site
* --------------------
*/
.site {
    padding: 0px 20px 20px 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

header .logo {
    padding-top: var(--main-padding-top);
}

header nav ul {
    display: flex;
    gap: 50px;
}

header nav li {
    border-top: 2px solid transparent;
    padding-top: var(--main-padding-top);
}

header nav li:hover {
    border-top: 2px solid blue;
}

header nav li:hover a {
    color: #1f95eb;
}

main {
    margin-top: 30px;
}

main .recherche {
    margin-top: 20px;
}

main .recherche form {
    display: flex;
}

main .recherche form .icon {
    background: #eee;
    padding: 10px 15px 10px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

main .recherche form input {
    border: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-left: 10px;
    padding-right: 10px;
}
main .recherche form button {
    background: blue;
    color: white;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

main .bloc-filtres {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}
main .bloc-filtres .filtres {
    display: flex;
    gap: 20px;
}
main .bloc-filtres .filtres .filtre {
    border: 1px solid #1f95eb;
    padding: 10px;
    border-radius: 20px;
}
main .info {
    display: flex;
    align-items: center;
    gap: 10px;
}
main .info .fa-info {
    font-size: 8px;
    border: 1px solid #ccc;
    padding: 5px 8px;
    color: blue;
    border-radius: 20px;
}
