*{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    margin: 0;
}
ul {
    list-style: none;
}
h2,
h1,
p,
ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
